<table id="container"
  style="border-collapse: collapse; width: 520px; background-color: rgb(149, 165, 166); border-radius: 10px; margin: 0px auto; display: table;"
  border="1">
  <thead>
    <tr>
      <td colspan="2"><img style="display: block; margin: 0 auto; width: 200px; margin-top: 12px; margin-bottom: 18px;"
          alt="ahorracomunica" width="400"></td>
    </tr>
    <tr>
      <td colspan="2"><img style="display: block; margin: 0 auto;" alt="bannerPrincipal" width="119" height="150"></td>
    </tr>
    <tr>
      <td colspan="2">
        <div style="width: 100%; display: block;">
          <h2 style="color: #273abe; margin: 0 20px; padding: 0px; font-size: 1.5rem; text-align: center;">Titulo1</h2>
          <h2 style="color: #273abe; margin: 0 20px; padding: 0px; font-size: 1.5rem; text-align: center;">titulo1_2
          </h2>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3
          style="margin: 5px 0px; margin-top: 4px; color: #ff0b6d; padding: 0px; font-weight: bold; font-size: 2.8rem; text-align: center;">
          Lorem ipsum dolor</h3>
      </td>
    </tr>
  </thead>
  <!-- <tbody id="codigo" style="background-color:#273abe;display:block;padding:1rem 20px;text-align: center;justify-content: center;align-items: center;justify-items: center;">
              <tr>
                  <td colspan="2">
                      <h3 style="color: white;margin:20px auto;text-align: center;font-size: 2.5rem;flex-basis:40%;">Descarga Nuestra App</h3>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <p id="parrafo2" style="font-size: 16px;width: 100%;text-align: center;display: flex;margin: 10px;color: white;justify-self: center;flex-basis: 20%;">Disfruta de ofertas, promociones y de muchos beneficios
                      exclusivos.</p>
                  </td>
              </tr>
              <tr>
                  <td>
                      <a target="_blank" href="https://play.google.com/store/apps/details?id=org.ahorraseguros.app" style="margin: 0 auto;">
                          <img style="width:auto;height:60px;margin: auto 25px" src="cid:gogleapp" alt=""/>
                      </a>
                  </td>
                  <td>
                      <a target="_blank" href="https://apps.apple.com/mx/app/ahorra-m%C3%B3vil/id1642782612" style="margin: 0 auto;">
                          <img style="width:auto;height:60px;margin: auto 25px" src="cid:app" alt=""/>
                      </a>
                  </td>
              </tr>
          </tbody> -->
  <tbody>
    <tr>
      <td
        style="display: block; flex-direction: column; font-size: 1rem; padding: 8px; padding-left: 20px; margin: 40px auto;"
        colspan="2">
        <h2 style="color: #273abe; font-size: 30px; margin-bottom: 0px; margin: 0px 100px;">&iexcl;Ahorra va contigo!
        </h2>
      </td>
    </tr>
    <tr>
      <td colspan="2"><input style="width: calc(100% - 50px); margin: 0 auto; display: block; height: 480px;"
          type="text"></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td id="info" colspan="2">
        <h2 style="color: #273abe; margin: 0 20px; padding: 0px; font-size: 1.5rem; text-align: center;">CITA:</h2>
        <div
          style="display: flex; align-content: center; align-items: center; border: 1px solid #ccc; padding: 20px; border-radius: 6px; margin: 5px 50px;">
          <img style="width: 35px;" alt=""><small>DIA:</small>&nbsp;
        </div>
        <div
          style="display: flex; align-content: center; align-items: center; border: 1px solid #ccc; padding: 20px; border-radius: 6px; margin: 5px 50px;">
          <img style="width: 35px;" alt=""><small>HORA:</small>&nbsp;
        </div>
        <div
          style="display: flex; align-content: center; align-items: center; border: 1px solid #ccc; padding: 20px; border-radius: 6px; margin: 5px 50px;">
          <img style="width: 35px;" alt=""><small>LUGAR:</small>&nbsp;
        </div>
      </td>
    </tr>
  </tbody>
  <tbody
    style="background-color: #273abe; display: block; padding: 1rem 20px; text-align: center; justify-content: center; align-items: center; justify-items: center;">
    <tr style="width: 100%; display: block;">
      <td style="width: 100%; display: block;" colspan="2">
        <h3 style="color: white; margin: 20px auto; display: block; text-align: center; font-size: 2.5rem;">
          Instrucciones</h3>
        <p
          style="color: #fff; margin: 0 20px; padding: 0px; font-size: 1.2rem; text-align: justify-all; line-height: 1.5;">
          Clic en el siguiente enlace:</p>
        <a
          style="width: 280px; display: block; margin: 0 auto; text-align: center; padding: 18px 10px; background: #fff; border-radius: 12px; border-bottom: 4px solid #0f1f96; border-right: 4px solid #0f1f96; color: #273abe; font-weight: bold; font-size: 1.4rem;">Activar
          mi P&oacute;liza</a>
      </td>
    </tr>
  </tbody>
  <!-- <tbody id="ahorraApp" style="background-color:#273abe;color: white;flex-flow: row wrap;align-items: center;">
              <tr>
                  <td colspan="2">
                      <img style="display: block;margin: 0 auto;width: 100px;padding: 20px;" src="cid:plantilladocumento" alt=""/>
                  </td>
  
              </tr>
              <tr>
                  <td colspan="2">
                      <h2 style="margin: 0 154px;
                      margin-bottom: 20px;">Con Ahorra App <br> podrás realizar:</h2>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                       <ul style="margin:5px auto;">
                          <li style="list-style:none;">
                          <img src="cid:check" alt="Check" style="width:15px;margin-right:5px;"/> Retiros de tu póliza y de tus familiares y amigos.</li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <ul style="margin:5px auto;">
                          <li style="list-style:none;">
                              <img src="cid:check" alt="Check" style="width:15px;margin-right:5px;"/> Beneficios exclusivos en tiendas de aplicaciones.</li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <ul style="margin:5px auto;">
                          <li style="list-style:none;">
                          <img src="cid:check" alt="Check" style="width:15px;margin-right:5px;"/> Atención a clientes.</li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                       <ul style="margin:5px auto;">
                          <li style="list-style:none;">
                          <img src="cid:check" alt="Check" style="width:15px;margin-right:5px;"/> Cotizar otros seguros.</li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                       <ul style="margin:5px auto;">
                          <li style="list-style:none;">
                          <img src="cid:check" alt="Check" style="width:15px;margin-right:5px;"/> Comprar desde la App fácil y Segura.</li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td>&nbsp;</td>
              </tr>
              <tr>
                  <td>&nbsp;</td>
              </tr>
          </tbody> -->
  <tbody>
    <tr>
      <td colspan="2"><img style="display: block; margin: 0 auto; width: 80px; margin-top: 20px; margin-bottom: 20px;"
          alt="ahorracomunica"></td>
    </tr>
  </tbody>
</table>